@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Gabarito:wght@400..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*=============================================*/

/* ESTILIZANDO ELEMENTOS GERAIS DA PÁGINA */



body {
    
    /* Definindo Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Definindo altura da página */
    height: 100vh;

}

main {

    /* Definindo Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex: 1;
}

footer {

    /* Definindo Flexbox */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 28px;

    /* Estilizando o rodapé */
    background-color: #f5f5f5;
    position: fixed;
    height: 60px;
    width: 100%;
    bottom: 0;
}

h1 {
    /* Definindo fonte e tamanho dos títulos */
    font-family: 'Gabarito', sans-serif;
    font-size: 2.5em;
    transition: transform 0.5s ease;
}

p {
    /* Definindo fonte e tamanho dos parágrafos */
    font-family: 'DM Sans', sans-serif;
    font-size: 0.9em;
    max-width: 920px;
    font-size: clamp(0.8em, 1vw, 0.9em);
}

a {
    /* Definindo fonte e tamanho dos links */
    font-family: 'DM Sans', sans-serif;
    font-size: 0.88em;
    color: darkorange;
    transition: font-size 0.3s ease;
}

button {
    /* Definindo fonte e propriedades dos botões */
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
    transition: background-color 0.7s ease;
    border: none;
    border-radius: 6px;
}

span {
    /* Definindo transições dos spans */
    transition: transform 0.3s ease;
}


/*=============================================*/

/* ESTILIZANDO ELEMENTOS ESPECÍFICOS */



/* - - - - - - - - - - - - - - - - - */

/* Seção de seleção de times */

#times {
    display: flex;
    align-items: center;
    gap: 12px;
}

.botaoTime {
    font-size: 0.9em;
    font-weight: bold;
    padding: 9px 18px;
}

#status {
    font-size: 0.8em;
    display: none;
}



/* - - - - - - - - - - - - - - - - - */

/* Seção de escolha de apostas */

#apostas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}

#valorAposta {
    width: 225px;
}

#apostar {
    width: 150px;
    padding: 4px;
    font-size: 0.8em;
    background-color: #e0e0e0;
    transition: background-color 1s ease;
}

#aviso {
    font-size: 0.8em;
    color: rgb(133, 55, 55);
    font-weight: bold;
    display: none;
}


/* - - - - - - - - - - - - - - - - - */

/* Seção de resultado da aposta no placar */

#placar {

    /* Definindo Flexbox */
    display: none;  /* flex; */
    flex-direction: column;
    align-items: center;
    gap: 9px;

    /* Estilizando o placar */
    background-color: #f5f5f5;
    padding: 20px 40px;
    border-radius: 10px;
    position: absolute;
    rotate: 0deg;
    transform: scale(0);
    top: 50;

    /* transições de animação */
    transition: transform 0.5s ease;
    transition: rotate 0.2s ease;
}

.nome-time {
    font-size: 0.9em;
    font-weight: bold;
}

.placar-time {
    font-size: 2.3em;
    font-weight: 200;
}

#resultado {
    font-size: 0.8em;
}


/* - - - - - - - - - - - - - - - - - */

/* Seção do rodapé */


#saldo {
    font-weight: bold;
    color: #202020;
}

#saldo-valor {
    font-size: 1.1em;
    transition: font-size 0.2s ease;
}



/* - - - - - - - - - - - - - - - - - */

/* Seção da página inicail */

:root {
    /* Definindo variáveis da margem */
    --margen-esquerda: clamp(7px, 1vw, 19px);
}

#titulo {
    line-height: 0.9; 
    margin-left: var(--margen-esquerda);
    font-size: clamp(1.3rem, 5vw, 2.5rem);
}

#parteTitulo {
    font-size: 120px; 
    margin-left: calc(var(--margen-esquerda) * -1);
    transition: font-size 0.5s ease;
    font-size: clamp(3rem, 10vw, 7.5rem);
}

#Lorem {
    text-indent: 30px; 
    text-align: justify;
    margin-left: 50px; 
    margin-right: 50px;
}

#secaoTitulo {
    display: flex; 
    justify-content: center; 
    flex-direction: row; 
    margin-bottom: 30px; 
    margin-left: 30px;
    margin-right: 30px;
    width: 100%; 
    box-sizing: border-box; 
    gap: 40px;
}

#linkAposta {
    font-size: clamp(0.76em, 1vw, 0.88em);
}


/*=============================================*/

/* EVENTOS DE ESTILIZAÇÃO */



/* Ao passar o mouse sobre os elementos */
button:hover {
    background-color: #fcbf86;
}

#apostar:hover {
    background-color: #f79031;
    color: #ffffff;
}

a:hover {
    font-size: 1em;
}

#saldo-valor:hover {
    font-size: 1.3em;
}

h1:hover, span:hover {
    transform: scale(1.1);
}


/* Ao selecionar o texto da página */
::selection {
    background-color: #f3a65f;
    color: #ffffff;
}